body {
  margin: 0;
  font-family: Arial, sans-serif;
}

#container {
  display: flex;
  height: 100vh;
}

#map {
  background: white;
  border: 1px solid black;
  flex-grow: 1;
}

#sidebar {
  width: 260px;
  border-left: 1px solid black;
  padding: 10px;
  box-sizing: border-box;
  background: #f2f2f2;
}

button {
  width: 100%;
  margin-top: 8px;
}

input {
  width: 100%;
  margin-top: 4px;
}

.city {
  cursor: pointer;
}
