body {
  margin: 0;
  background: #202020;
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#gameWrapper {
  display: flex;
  gap: 20px;
  align-items: center;
}

#gameCanvas {
  background: white;
  border: 2px solid black;
}

#cityInspector {
  width: 220px;
  height: 650px;
  background: #f4f4f4;
  border: 2px solid black;
  padding: 10px;
  box-sizing: border-box;
}
